.diagnosis_answer_main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
  }
  
  .diagnosis_answer_section {
    width: 100%;
    max-width: 505px;
    padding: 20px;
  }
  
  .diagnosis_answer_article {
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .diagnosis_answer_wrap {
    text-align: center;
  }
  
  #diagnosis_answer_form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .diagnosis_answer_article h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .diagnosis_answer_article > div {
    margin-bottom: 15px;
  }
  
  .diagnosis_answer_article label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }
  
  .diagnosis_answer_article input[type="radio"] {
    margin-right: 5px;
  }
  
  .diagnosis_answer_article input[type="submit"] {
    background-color: hsl(210, 80%, 69%);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .diagnosis_answer_article input[type="submit"]:hover {
    background-color: hsl(210, 48%, 51%);
  }
  