
@media screen and (max-width: 999px) {

  /* .diagnosis_result_section_wrap {
    border: 3px solid #88AB8E;
    padding:1px;
  } */
  
  .diagnosis_result_analystic_summary_box_detail {
    flex-direction: column;
  }
  
  .diagnosis_result_detect_wrap {
    flex-direction: column;
  }

  .diagnosis_result_detect_item {
    display: flex;
    flex-direction:row;
    /* margin: 0 auto; */
    /* align-items: center; */
  }
  .diagnosis_result_detect_item_content {
    display: flex;
    flex-direction:row;
    margin: 0 auto;
    align-items: center;
  }
  .diagnosis_result_predict_disease_item_summary {
    flex-direction: column;
  }
  .diagnosis_result_predict_disease_list_box {
    flex-direction: column;
  }
  
}


/*  */
/*  */
/*  */








.diagnosis_result_wrap {
  /* border: 3px solid #88AB8E; */
  /* padding:3px; */
  background-color: #F2F1EB;  
  margin:0 auto;  
  max-width: 1280px;
}

.diagnosis_result_section_wrap {
  /* border: 3px solid #88AB8E; */
  /* padding:3px; */
  display:flex;
  flex-direction: column;  
  margin : 0 auto;  
}

.diagnosis_result_title {
  /* border: 3px solid #88AB8E; */
  /* padding: 3px; */
}

.diagnosis_result_notice {
  /* border: 3px solid #88AB8E; */
  /* padding: 3px; */
}

.diagnosis_result_content_wrap {
  /* border: 3px solid #88AB8E; */
  /* padding: 3px; */
}

.diagnosis_result_analystic_wrap {
  /* border: 3px solid #88AB8E; */
  /* padding: 3px; */
  
}




/* yolo */

.diagnosis_result_yolo_analystic_wrap {
  /* border: 3px solid #88AB8E; */
  /* padding: 3px; */
}

.diagnosis_result_analystic_info {
  /* border: 3px solid #88AB8E; */
  /* padding: 3px; */
}
.diagnosis_result_analystic_info h3 {
  border: 3px solid #88AB8E;
  /* padding: 3px; */
}
.diagnosis_result_analystic_info > div:nth-child(2){
  border: 3px solid #88AB8E;
  /* padding: 3px; */
}
.diagnosis_result_analystic_info > div:nth-child(3){
  border: 3px solid #88AB8E;
  /* padding: 3px; */
}

.diagnosis_result_analystic_summary_box {
  border: 3px solid #88AB8E;
  /* padding: 3px; */
  display: flex; 
  flex-direction: column;
  width:100%;
}


.diagnosis_result_analystic_summary_box_detail {
  border: 3px solid #88AB8E;
  /* padding: 3px; */
  display: flex;  
  /* flex-direction: column; */
  /* min-height:200px; */
  /* max-height:500px; */
}

.diagnosis_result_analystic_image {
  border: 3px solid #88AB8E;
  /* padding:3px; */
  width:100%;  
  display: flex;  
  align-items: center;  
}

.diagnosis_result_analystic_image_img {
  border: 3px solid white;
  /* padding:3px; */
  width:100%;
}

.diagnosis_result_analystic_summary_content{
  border: 3px solid #88AB8E;
  /* padding: 3px; */
  width:100%;
}

.diagnosis_result_analystic_summary_solution_item {
  border: 3px solid #88AB8E;
  /* padding: 3px; */
  height: 100%;
}
.diagnosis_result_analystic_summary_solution_item > div:nth-child(1) {
  border: 3px solid #88AB8E;
  /* padding: 3px; */
  /* overflow-y: auto; */
}
.diagnosis_result_analystic_summary_solution_item > div:nth-child(2) {
  border: 3px solid #88AB8E;
  /* padding: 3px; */
  /* overflow-y: auto; */
}
.diagnosis_result_analystic_summary_solution_item > div:nth-child(3) {
  border: 3px solid #88AB8E;
  /* padding: 3px; */
  /* overflow-y: auto; */
}





/*  */





.diagnosis_result_detect_wrap {
  border: 3px solid #88AB8E;
  /* padding: 3px; */
  display: flex; 
}

.diagnosis_result_detect_item {
  border: 3px solid #88AB8E;
  /* padding: 3px; */
  /* display: flex; */
  /* flex-direction: column;   */
  margin:0 auto;
}
.diagnosis_result_detect_item_1 {
  border: 3px solid #88AB8E;
  /* padding: 3px; */
}
.diagnosis_result_detect_item_2 {
  border: 3px solid #88AB8E;
  /* padding: 3px; */
}
.diagnosis_result_detect_item_title {
  border: 31px solid #88AB8E;
  /* padding: 3px; */
}
.diagnosis_result_detect_item_content {
  border: 3px solid #88AB8E;
  /* padding: 3px; */
  /* display: flex; */
  /* flex-direction:row; */

}

.diagnosis_result_predict_image {
  border: 3px solid #88AB8E;
  /* padding: 3px; */
  
  
  width:100%;
  height:100%;
  /* max-width:130px;
  min-width:130px; */
  /* height:200px; */
}
.diagnosis_result_predict_image > img {
  border: 3px solid #88AB8E;
  /* padding: 3px; */
  /* max-height:170px; */
  /* max-width:170px; */
  height:100%;
  width:100%;
}

.diagnosis_result_detect_content {
  border: 3px solid #88AB8E;
  /* padding: 3px; */
  /* flex-grow:1; */

}

.diagnosis_result_detect_content > h3 {
  border: 3px solid #88AB8E;
  /* padding: 3px; */
}

.diagnosis_result_predict_item {
  border: 3px solid #88AB8E;
  /* padding: 3px; */

}
.diagnosis_result_predict_item > div:nth-child(1) {
  border: 3px solid #88AB8E;
  /* padding: 3px; */
}
.diagnosis_result_predict_item > div:nth-child(2) {
  border: 3px solid #88AB8E;
  /* padding: 3px; */
}



/* tf  */

.diagnosis_result_tf_analystic_wrap {
  border: 3px solid #88AB8E;
  /* padding: 3px; */
}

.diagnosis_result_partial_predict {
  border: 3px solid #88AB8E;
  /* padding: 3px; */
}

.diagnosis_result_partial_predict_plant {
  border: 3px solid #88AB8E;
  /* padding: 3px; */
}

.diagnosis_result_partial_predict_disease {
  /* border: 3px solid #88AB8E; */
  /* padding: 3px; */
}

.diagnosis_result_partial_prob {
  /* border: 3px solid #88AB8E; */
  /* padding: 3px; */
}


/*  */

.diagnosis_result_predict_disease_list_wrap {
  /* border: 1px solid #88AB8E; */
  /* padding: 3px; */
}

.diagnosis_result_predict_disease_list_wrap > h3 {
  /* border: 1px solid #88AB8E; */
  /* padding: 3px; */
}



/*  */
.diagnosis_result_predict_disease_list_box {
  /* border: 1px solid #88AB8E; */
  /* padding: 3px; */
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
}

.diagnosis_result_predict_disease_item {
  /* border: 1px solid white; */
  /* padding: 3px; */
  flex: 1 0 50%;
}

.diagnosis_result_predict_disease_item_summary {
  /* border: 1px solid #88AB8E; */
  /* padding: 3px; */
}

.diagnosis_result_predict_disease_item_summary_item{
  /* border: 1px solid #88AB8E; */
  /* padding: 3px; */
}

.diagnosis_result_solution_word {
  /* border: 1px solid #88AB8E; */
  /* padding: 3px; */
}


/*  */
.diagnosis_result_predict_disease_item_content_wrap {
  border: 25px solid #88AB8E;
  /* padding: 3px; */
  /* display: flex; */
  flex-direction: column;
  flex: 1 0 100%;
}

.diagnosis_result_symptom {
  border: 3px solid #88AB8E;
  /* padding: 3px; */
  overflow-y: auto;

  flex: 1;
}

.diagnosis_result_occurence_environment {
  border: 3px solid #88AB8E;
  /* padding: 3px; */
  overflow-y: auto;

  flex: 1;
}

.diagnosis_result_guide {
  border: 3px solid #88AB8E;
  /* padding: 3px; */
  overflow-y: auto;

  flex: 1;
}





/*  */
.diagnosis_result_none {
  border: 3px solid #88AB8E;
  /* padding:3px; */
  background-color: #F2F1EB;  
  margin:0 auto;  
  max-width: 1280px;
}

.diagnosis_result_none_info {
  border: 3px solid #88AB8E;
  /* padding:3px; */
  /* display:flex; */
  /* flex-direction: column;   */
  margin : 0 auto;  
}

.diagnosis_result_none_info_img_div {
  border: 3px solid #88AB8E;
  padding:3px;
  /* display:flex; */
  /* flex-direction: column;   */
  margin : 0 auto;
}

.diagnosis_result_none_info_img {
  /* border: 3px solid #88AB8E; */
  /* padding:3px; */
  /* display:flex; */
  /* flex-direction: column;   */
  margin : 0 auto;  
  width:100%;
}





/* 버튼 */

.diagnosis_button {
  margin-top: 10px;
  padding: 1px;
  background-color: #ebab3b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;  
  margin:0 auto;
}
.diagnosis_button:hover {
  background-color: #ebab3b;
}

.diagnosis_button_1 {
  margin-top: 10px;
  padding: 1px;
  background-color: #6586e8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;  
  margin:0 auto;
}
.diagnosis_button_1:hover {
  background-color: #9cc8fa;
}