{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="index2.css">


<style>
      
        
    .customer_service_wrap_box {
        display: flex;
        flex-direction: row;             
        flex-wrap: nowrap;
        border: 1px solid black;
        width:100%;        
        margin: 0 auto;
    }

    .customer_service_ad_box { 
        display:flex;
        flex: 1 0 20%;
        border: 1px solid black;
        margin: 0 auto;
        align-items:center;
        justify-content: center;
    }

    .customer_service_ad_content{        
        border: 1px solid black;        
    }

    .customer_service_index_box { 
        flex-direction: column;             
        flex-wrap: nowrap;
        display:flex;
        flex: 0 0 80%;
        border: 1px solid black;
        margin: 0 auto;
        align-items:center;
        justify-content: center;       
    }    

    .customer_service_choice_box {
        display: flex;        
        justify-content: center;
        align-items: center;        
        text-align: center;                
        border: 1px solid black;
    }

    .customer_service_choice_result_box {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;                
        text-align: center;                   
        justify-content: center;
        border: 1px solid black;   
    }


    .customer_service_answer_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        text-align: center;
        border: 1px solid black;
        width:35vh;
    }
    
    .customer_service_image_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
        text-align: center;
        border: 1px solid black;
    }        

</style>



<div class="customer_service_wrap_box">
    <div class="customer_service_ad_box">1111</div>
    <div class="customer_service_index_box">
        <div class="customer_service_choice_box">{% include "./customer_service_notice.html" %}</div>
        <div class="customer_service_choice_result_box">
            <div class="customer_service_answer_box">{% include "./customer_service_faq.html" %}</div>
            <div class="customer_service_image_box">{% include "./customer_service_1vs1.html" %}</div>
        </div>
    </div>    
</div>





<script>
</script>

{% endblock content %}