# django
django
djangorestframework
django-cors-headers
mysqlclient
pandas
matplotlib
plotly
seaborn
tensorflow

#240124
opencv-python
ultralytics

# react
react-redux
@reduxjs/toolkit
react-cookie

django-environ