{% load static %}

{% block content %}  


<style>



</style>


    <!-- 푸터 시작 -->
    <br>
    <footer>
        <div class="bg-dark footer">
            <div class="container">
                <div class="row g-3">
                    <div class="col-lg-6">
                        <div class="d-flex">
                            <a class="btn btn-social" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-social" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-social" href="#"><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-social" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6">
                            Farm Quest, All Right Reserved <br>
                            made by Team Final Farmtasy ★
                        </div>
                        <div class="col-md-6 text-center text-md-end foot-menu-box">
                            <div class="footer-menu">

                                <a href="#">임시1</a>
                                <a href="#">임시2</a>
                                <a href="#">임시3</a>
                                <a href="#">임시4</a>
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- 푸터 끝 -->
    
                    <!-- 카카오톡 상당하기 버튼 시작 -->
                    <a
                        id="kakao-talk-channel-chat-button"
                        data-channel-public-id="_webTG"
                        data-title="consult"
                        data-size="small"
                        data-color="yellow"
                        data-shape="pc"
                        data-support-multiple-densities="true"
                        
                        class="btn-lg btn-lg-square back-to-top"
                    ></a>
                    <!-- 카카오톡 상당하기 버튼 끝 -->
    <!-- Back to Top 버튼 -->  


    {% endblock content %}  