{% load static %}

{% block content %}  


<header>
    <div class="headerMenu">
        <a href="/"><img src="{% static 'image/logo/farm_quest_site.svg' %}" alt="Logo" id="logo"></a>
        <!-- 주석처리 - kdy -->
        <!-- <form action="/search" method="get">
            <input type="text" name="query" placeholder="Search...">
            <button type="submit">Search</button>            
        </form> --> 
        
        <!-- 통합 검색창 시작 - kdy -->
        <!-- 원하는 카테고리 선택후 검색어 입력 -> 검색 클릭 시 portal_search() js 함수 호출 -->
        <div class="portal_search">
            <select id="portal_select">
                <option selected>선택</option>
                <option value="gardening_shop_search">가드닝 샵</option>
                <option value="customer_service_center">고객센터</option>                
            </select>                                
            <input type="text" id="search_keyword" placeholder="검색">
            <button onclick="portal_search()">검색</button>
        </div>
        <!-- 통합 검색창 끝 -->

        <!-- 통합 검색창 js 함수 시작 -->
        <!-- 검색창에 입력된 키워드 받아서 select 된 option 이 위치한 url로 이동 (해당 url은 <str:keyword> 를 활용하는 url이어야 함)-->
        <script>
            function portal_search() {
                let keyword = document.getElementById("search_keyword").value;
                window.location.href = keyword;
            }
        </script>
        <!-- 통합 검색창 js 함수 시작 -->
                
        <!-- 회원가입 로그인 박스 시작 login.css - kdy -->
        <div class="loginBox">
            {% if user.is_authenticated %}
                <div class="login_sign_in">{{ user.username }}</div>
                <div class="login_sign_out"><a href="{% url 'sign_out' %}">Logout</a></div>
            {% else %}
                <div class="login_sign_up"><a href="{% url 'sign_up2' %}">회원가입</a></div>
                <div> / </div>
                <div class="login_sign_in"><a href="{% url 'sign_in' %}">로그인</a></div>
            {% endif %}    
        </div>
        <!-- 회원가입 로그인 박스 끝 - kdy -->



    </div>

    <nav class="navbar">
        <ul> 
            <!-- 네비게이션 드롭다운 수정, 최상단 class="navbar" 에 맞췄으니 수정시 주의 -kdy -->
            <div class="nav-item">
                <div><a href="{% url 'customer_service_index' %}" class="nav-link dropdown-toggle">고객센터</a></div>
                <div class="dropdown-menu">                 
                    <div><a href="{% url 'customer_service_notice' %}" class="btn_ltj">공지사항</a></div>
                    <div><a href="{% url 'customer_service_faq' %}" class="btn_ltj">FAQ</a></div>
                    <div><a href="{% url 'customer_service_1vs1' %}" class="btn_ltj">1대1 문의</a></div>
                </div>
            </div>           

            <div class="nav-item">
                <div><a href="{% url 'guide_index' %}" class="nav-link dropdown-toggle">가이드</a></div>
                <div class="dropdown-menu">
                    <div><a href="{% url 'guide_index' %}" class="btn_ltj">가이드 안내</a></div>
                    <div><a href="{% url 'guide_detail' %}" class="btn_ltj">가이드 상세</a></div>                    
                </div>
            </div>            

            <div class="nav-item">
                <div><a href="{% url 'gardening_shop_index' %}" class="nav-link dropdown-toggle">가드닝 샵</a></div>
                <div class="dropdown-menu">
                    <div><a href="{% url 'gardening_shop_index' %}" class="btn_ltj">상품 리스트</a></div>
                    <div><a href="{% url 'gardening_shop_review_anlystics' %}" class="btn_ltj">상품 리뷰 분석</a></div>                    
                </div>
            </div>

            <div class="nav-item">
                <div><a href="{% url 'diagnosis_index' %}" class="nav-link dropdown-toggle">작물 진단</a></div>
                <div class="dropdown-menu">
                    <div><a href="{% url 'diagnosis_index' %}" class="btn_ltj">진단 문진표 작성</a></div>
                    <div><a href="{% url 'diagnosis_result' %}" class="btn_ltj">진단 결과</a></div>                    
                </div>
            </div>

            <div class="nav-item">
                <div><a href="{% url 'community_index' %}" class="nav-link dropdown-toggle">커뮤니티</a></div>
                <div class="dropdown-menu">
                    <div><a href="{% url 'farm_log_index' %}" class="btn_ltj">팜로그</a></div>
                    <div><a href="{% url 'qna_index' %}" class="btn_ltj">질문/답변</a></div>                    
                </div>
            </div>
            
            <div class="nav-item">
                <div><a href="{% url 'scheduler_general' %}" class="nav-link dropdown-toggle">스케쥴러</a></div>
                <div class="dropdown-menu">
                    <div><a href="{% url 'scheduler_general' %}" class="btn_ltj">일반 스케쥴러</a></div>
                    <div><a href="{% url 'scheduler_personal' %}" class="btn_ltj">개인 스케쥴러</a></div>                    
                </div>
            </div>                    

            <div class="nav-item">
                <div><a href="{% url 'mypage' %}" class="nav-link dropdown-toggle">마이페이지</a></div>
                <div class="dropdown-menu">                 
                    <div><a href="{% url 'user_plant' %}" class="btn_ltj">나의 작물</a></div>
                    <div><a href="{% url 'user_farmlog' %}" class="btn_ltj">남의 팜로그</a></div>
                    <div><a href="{% url 'user_QnA' %}" class="btn_ltj">나의 QnA</a></div>
                    <div><a href="{% url 'user_bookmark' %}" class="btn_ltj">즐겨찾기</a></div>                    
                </div>
            </div>




        </ul>
    </nav>
</header>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const navItems = document.querySelectorAll('.nav-item');
    
        navItems.forEach(item => {
            item.addEventListener('mouseover', function () {
                this.querySelector('.dropdown-menu').style.display = 'block';
            });
            item.addEventListener('mouseout', function () {
                this.querySelector('.dropdown-menu').style.display = 'none';
            });
        });
    });
</script>


{% endblock content %}


         