
{% load static %}


{% block content %}  

<style>
    .main_side_nav {
        padding: 1vh;
        border: 1px solid rgba(0, 185, 142);
        border-radius: 5px;
        position: fixed;
        bottom: 30vh;
        left: 0; 
        width:18vh;
    }


</style>


<div class="main_side_nav">

    <div><a href="{% url 'index' %}" class="nav-link btn btn-outline-primary">홈</a></div>
    <hr>
    <div>
    {% comment %} 로그인 user만 마이페이지에 접근가능, 로그인 안한 사용자의 경우 자동으로 로그인 창으로 리다이렉트 {% endcomment %}                    
    {% if user_info.is_authenticated %}
        <a href="{% url 'my_page' %}" class="nav-link btn btn-outline-primary">{{user.username}}<hr>마이 팜</a>
    {% else %}
        <a href="{% url 'sign_in' %}" class="nav-link btn btn-outline-primary">마이 팜</a>
    {% endif %}
    </div>

    


</div>

{% endblock content %}