
{% load static %}


{% block content %}  

<style>
    .main_side_nav {
        position : relative;
        z-index: 20;
        padding: 0.1em;
        border: 0.1em solid white;        
        position: fixed;
        bottom: 0vh;
        left: 0;         
        text-align: center;
        background-color: white;         
    }

    .side_nav_item {
        background-color:  #4CAF50;
        font-size:0.8em;
        padding:0.4em;
    }

</style>


<div class="main_side_nav">    
    <div class="side_nav_item"><a href="{% url 'index' %}" class="btn_kdy2">홈</a></div>
    <hr>
    <div class="side_nav_item">
    {% comment %} 로그인 user만 마이페이지에 접근가능, 로그인 안한 사용자의 경우 자동으로 로그인 창으로 리다이렉트 {% endcomment %}
    {% if user_info.is_authenticated %}
        <a href="{% url 'mypage' %}" class="btn_kdy2">{{user.username}}<hr>마이팜</a>
    {% else %}
        <a href="{% url 'sign_in' %}" class="btn_kdy2">마이팜</a>
    {% endif %}
    </div>
</div>

{% endblock content %}