/* Copyright © 2017-2022, Eunbin Jeong (Dalgona.) <project-neodgm@dalgona.dev> */
/* with reserved font name "Neo둥근모" and "NeoDunggeunmo". */
@font-face {
  font-family: 'neodgm';
  src: url('../../fonts/neodgm.woff');
}
@font-face {
  font-family: 'pixelroborobo.otf';
  src: url('../../fonts/pixelroborobo.otf') format('opentype');
}

  
  /* @media screen and (min-width: 999px) { */

  /* PC */
  /* } */
  /* @media screen and (max-width: 999px) { */
  
  /* 모바일 */
  /* } */

/* 도움말 */
.questionOverlayContainer {
  display: flex;
  align-items: center;
  padding-right: 5px;
  padding-bottom: 8px;
  padding-top: 5px;
}

.schedulerAnnounsment{
  margin: 4px;
  margin-bottom: -2px; 
  min-width:700px;
  cursor:help;
}

#headerInnercontents {
  display:flex row;
}

.ifAnoNotNull {
  color: rgba(212, 0, 0, 0.788);
}

/* .tooltip{ */
  /* white-space: pre-line; */
/* } */
/* 캘린더 필터 */

#schedularFilter {
  
  margin-top: 20px;
  padding-right: 20px;
}

#schedularFilter h2 {
  
  font-size: 24px;
  margin-bottom: 20px;
}

.schedulerBtn {
  font-family: 'neodgm', 'sans';

  cursor: pointer;
  margin-top: 4px;
  margin-bottom: 8px;
  /* margin-left:-3px; */
  padding:5px;
  background-color: white;
  border-radius: 5px;
  /* transition: transform 0.3s; */

}
.schedulerBtn:hover {
  transform: scale(1.03);
}
.schedulerBtn:active {
  transform: scale(0.95);
  background: linear-gradient(to bottom, #ffffff, #dfffc9);

}
/* 필터 스타일 */
/* #schedulerselector { */
/*  */
/* } */

#shcedulerDiseaseExp{
  text-align:left;
  font-size: 18px;

}

#shcedulerDiseaseExpColor {
  list-style-type: none;
  padding: 3px;
}

#shcedulerDiseaseExpColor li {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 120px;
}

#shcedulerDiseaseExpColor li span {
  padding: 2px; 
  border-radius: 3.5px; 
}
#schedulerFilter {
  border: 10px  #c1e4bc85;
  border-radius: 8px; 
  border-style: ridge double dashed ridge;
  padding: 10px;
  padding-left: 16px;
}

#schedulerFilterUi {
  display: flex; 
  align-items: center; 
  flex-direction: row; 
  padding: 2px;
  margin-top: 2px;
  margin-bottom: 4px;
  /* vertical-align:bottom; */
}

#schedulerFilterUi label.schedulerFilterUi {
  display: block;
  cursor:pointer;

}

#schedulerFilterUi label.schedulerFilterUi:hover {
  transform: scale(1.05);
}

#schedulerFilterUi label.schedulerFilterUi {
  font-size: 18px;

}

#schedulerFilterUi input:checked + label.schedulerFilterUi {
  color: chocolate;
  
}

#schedulerFilterUi label.schedulerFilterUi:hover {
  text-decoration: wavy;
  text-decoration-color: green;

}

#schedulerFilterUi input[type="radio"] {
  display: none;
  vertical-align: top;

}

#schedulerFilterUi input[type="radio"] + label.schedulerFilterUi::before {
  content: '';
  display: inline-block;
  width: 14px; 
  height: 14px;
  border-radius: 20%;
  border: 2px solid rgb(102, 51, 8);
  background-color: rgb(255, 255, 239);
  margin-right: 6px;
}

#schedulerFilterUi input[type="radio"]:checked + label.schedulerFilterUi::before {
  background-color: #007e26;

}

/* 캘린더 바디 */

.filter-container,
.calendar-container,
.weather-container {
    font-family: 'neodgm', sans-serif;
    /* font-family: 'pixelroborobo', sans-serif; */
    display: inline-block;
    vertical-align: top; /* 위쪽 시작점 정렬 */
    margin-top:20px;
    margin-right: 20px;
}

#shedulerCalendarBox{
  border: 10px  #c1e4bc85;
  border-style: ridge double ridge double ;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 8px; 
  margin-bottom: 20px;
}

#thisMonth {
    border-collapse: collapse;
    width: 100%;
  }
  
  #thisMonth td {
    border: 1px solid #ccc;
    width: 100px;
    height: 100px;
    text-align: center;
  }

  #calendarTitle {
    background-color: beige;

    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    width: 700px;
  }

  .calendarTitle {
    display:inline-block;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
    vertical-align:super;
    margin-bottom:-25px;
    margin-top: -25px;
    vertical-align: middle;

  }
  /* .calendarTitle h1 {
    font-family: 'pixelroborobo', sans-serif;

  } */


  .MonthBtn {

    background-color: beige;
    border-style: none;
    cursor: pointer;
    /* margin-top: -5px; */
    vertical-align: middle;

  }

  .MonthBtnImg {
    width:40px;
    height:40px;
    cursor: pointer;

  }
  .MonthBtnImg:hover {
    transform: scale(1.15);

  }
  .calendarBodyDateCell {
    line-height:30px;
    vertical-align: top;
    text-align: left;
    /* border-style: double; */

  }

  .dayNameCell {
    font-weight: bolder;
    font-size:large;
    
  }

  .sundayStyle,
  .prevMonthCell:first-child,
  .calendarBodyDateCell:first-child,
  .nextMonthCell:first-child {
    color: red; 
  }

  .saturdayStyle,
  .prevMonthCell:last-child,
  .calendarBodyDateCell:last-child,
  .nextMonthCell:last-child {
    color: blue; 
  }
  
  .prevMonthCell,
  .nextMonthCell {
    background-color: rgba(247, 247, 247, 0.842);
  }




/* 지역 */


.locationSelectorBox {
  text-align: left;

}

.locationSelector {
  font-size: 18px;
}

.custom-dropdown {
  position: relative;
  width: 140px;
  border: 2px solid #723d3d;
  border-radius: 5px;
  cursor: pointer;
}

.selected-option {
  padding: 2px;
  text-align: center;
}

.options-list {
  display: none;
  position: absolute;
  width: 140px;
  border: 2px solid #723d3d;
  border-top: none;
  border-radius: 0 0 5px 5px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.options-list li {
  padding: 2px;
  text-align: center;
  cursor: pointer;
}

.custom-dropdown.open .options-list {
  display: block;
}

/* 드롭다운 버튼 스타일 */
.locationDropdown {
  font-family: 'neodgm', 'sans';
  background-color: rgb(255, 255, 239);
  border: 2px solid #723d3d;
  border-radius: 5px;
  cursor: pointer; 
  text-align:center;
  width: 140px;
  margin-bottom: 10px;
  font-size: 14px;
  height: 24px;
  border-radius: 5px;
  padding: 2px;
}

.locationDropdown option{
  border-radius: 5px;

}

.locationDropdown:focus {
  outline: ridge #ccc 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* 포커스 시 그림자 효과 */
}

.locationDropdown:hover {
  transform: scale(1.03);
}


#weatherInfoViewer {
  border: 10px  #c1e4bc85;
  border-style: ridge ridge dashed double;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 8px; 

}


/* 모달용 임시css 충돌시 삭제 */

.modal-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(185, 185, 185, 0.5); /* 반투명한 회색 배경 */
  justify-content: center;
  align-items: center;
}

.visible {
  display: inline;
}

.modal {
  background-color: white;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.modal-content {
  text-align: center;
}

.calendarBodyDateCell {
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid #ccc;
}


.todayStyle {
  border: 4px dashed green;
}

.diseaseLine {
  width: 100%;
  position: block;
  bottom: 0;
}

/* 슬라이드효과 */
.slide-container {
  position: relative;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
  height: auto; /* 높이를 자동으로 조절하도록 설정 */
}

.slide-out {
  transform: translateY(-100%);
}

.slide-in {
  transform: translateY(0);
}
