{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="index_main_ind">
    <a href="#" class="btn_index_ind btn_guide_ind">가이드</a>
    <a href="#" class="btn_index_ind btn_scheduler_ind">스케쥴러</a>
    <a href="#" class="btn_index_ind btn_search_disease_ind">질병서치</a>
    <a href="#" class="btn_index_ind btn_community_ind">커뮤니티</a>
    <a href="#" class="btn_index_ind btn_shop_ind">가드닝샵</a>
    <a href="#" class="btn_index_ind btn_search_pest_ind">해충서치</a>
    <a href="#" class="btn_index_ind btn_photo_ind">Photo</a>
    <a href="#" class="btn_index_ind btn_qna_ind">QNA</a>
    <a href="#" class="btn_index_ind btn_calendar_ind">Calendar</a>
  </main>

{% endblock content %}