<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myschedule</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/scheduler.css">
    <style></style>
    
</head>
<body>
    <header>
        <div class="headerMenu">
            <a href="/"><img src="logo.png" alt="Logo" id="logo"></a>
            <form action="/search" method="get">
                <input type="text" name="query" placeholder="Search...">
                <button type="submit">Search</button>
            </form>
            <a href="login.html" class="highlight">로그인</a>
            <a href="register.html" class="highlight">회원가입</a>
        </div>
        <div class="navbar">
            <ul>
                <li><a href="#">메뉴1</a></li>
                <li><a href="#">메뉴2</a></li>
                <li><a href="#">메뉴3</a></li>
                <li><a href="users/mypage">마이페이지(임시통로)</a></li>
            </ul>
        </div>
    </header>

<!-- 메인 -->
    <main class="container index_main">

    <section class="btn_section">
            <a class="scheduler_btn" href="{% url 'scheduler_general' %}">
                <div class="scheduler_btn">gen_btn</div>
            </a>
            <a class="scheduler_btn" href="{% url 'scheduler_personal' %}">
                <div class="scheduler_btn">per_btn</div>
            </a>
    </section>
    <br>
    <section class="content_section">
        <div id="scheduler_filter">filter
            <p>
                <ul id="schedule_filter">
                    <li><input type="checkbox" id="ck1" name="ck1" value="1" >
                        <label for="ck1">물주기</label></li>
                    <li><input type="checkbox" id="ck2" name="ck2" value="1" >
                        <label for="ck2">영양주기</label></li>
                    <li><input type="checkbox" id="ck3" name="ck3" value="1" >
                        <label for="ck3">심기</label></li>
                    <li><input type="checkbox" id="ck4" name="ck4" value="1" >
                        <label for="ck4">흙갈이</label></li>
                </ul>
            </p>
        </div>
        <div id="scheduler_content">scheduler</div>
    </section>
</main>




<footer>
    <ul>
        <li><a href="#">이용약관</a></li>
        <li><a href="#">개인정보처리방침</a></li>
        <li><a href="#">청소년보호정책</a></li>
    </ul>
</footer>
</body>

</html>
