
@media screen and (min-width: 999px) {

/* PC */

.diagnosis_recommend_wrap {
  border: 3px solid green;
  padding:3px;
  /* background-color: #e0e0e0; */
  margin:0 auto;  
  max-width: 1280px;
}

.diagnosis_recommend_section_1_wrap {
  border: 3px solid green;
  padding:3px;
  /* display:flex;
  flex-direction: column;  
  margin : 0 auto;   */
}
.diagnosis_recommend_section_1_title_wrap {
  border: 3px solid green;
  padding: 3px;
}
.diagnosis_recommend_section_1_content_wrap {
  border: 3px solid green;
  padding: 3px;
}
.diagnosis_recommend_section_1_content_1 {
  border: 3px solid green;
  padding: 3px;
  overflow-y: scroll;
  height: 18vh; 
  display: flex;
  flex-wrap:wrap;
  flex: 1 0 100%;
}
.diagnosis_recommend_section_1_content_1_1 {
  border: 3px solid green;
  padding: 3px;
  display: flex;
  font-size:0.7em;
  /* flex-direction: row; */  
  flex: 1 0 50%;
}
.diagnosis_recommend_section_1_content_1_1_1 {
  border: 3px solid green;
  padding: 3px;
}
.diagnosis_recommend_section_1_content_1_1_1_1 {
  border: 3px solid green;
  padding: 3px;
  height:50px;
}
.diagnosis_recommend_section_1_content_1_2 {
  border: 3px solid green;
  padding: 3px;
  margin:0 auto;
  display: flex;
  align-items: center;
}
.diagnosis_recommend_section_1_content_1_2_1 {
  border: 3px solid green;
  padding: 3px;
}
.diagnosis_recommend_section_1_content_1_2_2 {
  border: 3px solid green;
  padding: 3px;
}






.diagnosis_recommend_section_2_title_wrap {
  border: 3px solid green;
  padding: 3px;
}
.diagnosis_recommend_section_2_content_wrap {
  border: 3px solid green;
  padding: 3px;
}




/* .diagnosis_recommend_section_2_content_1 {
  border: 3px solid green;
  padding: 3px;
  overflow-y: scroll;
  height: 42vh; 
  display: flex;
  flex-wrap:wrap;
  flex: 1 0 100%;
}
.diagnosis_recommend_section_2_content_1_1 {
  border: 3px solid green;
  padding: 3px;
  flex: 1 0 50%;

}
.diagnosis_recommend_section_2_content_1_1_1 {
  border: 3px solid green;
  padding: 3px;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */




.diagnosis_recommend_section_2_content_1 {
  border: 3px solid green;
  padding: 3px;
  overflow-y: scroll;
  height: 65vh; 
  display: flex;
  flex-wrap:wrap;
  flex: 1 0 100%;
}
.diagnosis_recommend_section_2_content_1_1 {
  border: 3px solid green;
  padding: 3px;
  flex: 1 0 50%;
}
.diagnosis_recommend_section_2_content_1_1_1 {
  border: 3px solid green;
  padding: 3px;  
}
.diagnosis_recommend_section_2_content_1_1_1_1 {
  border: 3px solid green;
  padding: 3px;  
}
.diagnosis_recommend_section_2_content_1_1_1_1_1 {
  border: 3px solid green;
  padding: 3px;
  /* width:100px; */
  height:429px;  
  /* height: auto; */
}
.diagnosis_recommend_section_2_content_1_1_2 {
  border: 3px solid green;
  padding: 3px;
  margin:0 auto;
  display: flex;
  align-items: center;
}
.diagnosis_recommend_section_2_content_1_1_2_1 {
  border: 3px solid green;
  padding: 3px;
}
.diagnosis_recommend_section_2_content_1_1_3 {
  border: 3px solid green;
  padding: 3px;
}



      
}


/*  */
/*  */
/*  */



@media screen and (max-width: 999px) {

/* 모바일 */

.diagnosis_recommend_wrap {
  border: 3px solid green;
  padding:3px;
  /* background-color: #e0e0e0; */
  margin:0 auto;  
  /* max-width: 1280px; */
}

.diagnosis_recommend_section_1_wrap {
  border: 3px solid green;
  padding:3px;
  /* display:flex;
  flex-direction: column;  
  margin : 0 auto;   */
}
.diagnosis_recommend_section_1_title_wrap {
  border: 3px solid green;
  padding: 3px;
}
.diagnosis_recommend_section_1_content_wrap {
  border: 3px solid green;
  padding: 3px;
}
.diagnosis_recommend_section_1_content_1 {
  border: 3px solid green;
  padding: 3px;
  overflow-y: scroll;
  height: 19vh; 
  display: flex;
  flex-wrap:wrap;
  flex: 1 0 100%;
}
.diagnosis_recommend_section_1_content_1_1 {
  border: 3px solid green;
  padding: 3px;
  display: flex;
  font-size:0.7em;
  /* flex-direction: row; */  
  /* flex: 1 0 50%; */
}
.diagnosis_recommend_section_1_content_1_1_1 {
  border: 3px solid green;
  padding: 3px;
}
.diagnosis_recommend_section_1_content_1_1_1_1 {
  border: 3px solid green;
  padding: 3px;
  height:50px;
}
.diagnosis_recommend_section_1_content_1_2 {
  border: 3px solid green;
  padding: 3px;
  margin:0 auto;
  display: flex;
  align-items: center;
}
.diagnosis_recommend_section_1_content_1_2_1 {
  border: 3px solid green;
  padding: 3px;
}
.diagnosis_recommend_section_1_content_1_2_2 {
  border: 3px solid green;
  padding: 3px;
}






.diagnosis_recommend_section_2_title_wrap {
  border: 3px solid green;
  padding: 3px;
}
.diagnosis_recommend_section_2_content_wrap {
  border: 3px solid green;
  padding: 3px;
}
.diagnosis_recommend_section_2_content_1 {
  border: 3px solid green;
  padding: 3px;
  overflow-y: scroll;
  height: 65vh; 
  display: flex;
  flex-wrap:wrap;
  flex: 1 0 100%;
}
.diagnosis_recommend_section_2_content_1_1 {
  border: 3px solid green;
  padding: 3px;
  flex: 1 0 50%;
  /* margin:0 auto; */
  /* display: flex; */
  /* align-items: center; */     
}
.diagnosis_recommend_section_2_content_1_1_1 {
  border: 3px solid green;
  padding: 3px;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.diagnosis_recommend_section_2_content_1_1_1_1 {
  border: 3px solid green;
  padding: 3px;  
}
.diagnosis_recommend_section_2_content_1_1_1_1_1 {
  border: 3px solid green;
  padding: 3px;
  /* width:100px; */
  height:210px;  
  /* height: auto; */
}
.diagnosis_recommend_section_2_content_1_1_2 {
  border: 3px solid green;
  padding: 3px;
}
.diagnosis_recommend_section_2_content_1_1_2_1 {
  border: 3px solid green;
  padding: 3px;
}
.diagnosis_recommend_section_2_content_1_1_3 {
  border: 3px solid green;
  padding: 3px;

}



}






/* yolo */

.diagnosis_recommend_yolo_analystic_wrap {
  border: 3px solid green;
  padding: 3px;
}

.diagnosis_recommend_analystic_info {
  border: 3px solid green;
  padding: 3px;
}
.diagnosis_recommend_analystic_info h3 {
  border: 3px solid green;
  padding: 3px;
}
.diagnosis_recommend_analystic_info > div:nth-child(2){
  border: 3px solid green;
  padding: 3px;
}
.diagnosis_recommend_analystic_info > div:nth-child(3){
  border: 3px solid green;
  padding: 3px;
}

.diagnosis_recommend_analystic_summary_box {
  border: 3px solid green;
  padding: 3px;
  display: flex; 
  flex-direction: column;
  width:100%;
}


.diagnosis_recommend_analystic_summary_box_detail {
  border: 3px solid green;
  padding: 3px;
  display: flex;  
  /* flex-direction: column; */
  /* min-height:200px; */
  /* max-height:500px; */
}

.diagnosis_recommend_analystic_image {
  border: 3px solid green;
  padding:3px;
  width:100%;  
  display: flex;  
  align-items: center;  
}

.diagnosis_recommend_analystic_image_img {
  border: 3px solid green;
  padding:3px;
  width:100%;
}

.diagnosis_recommend_analystic_summary_content{
  border: 3px solid green;
  padding: 3px;
  width:100%;
}

.diagnosis_recommend_analystic_summary_solution_item {
  border: 3px solid green;
  padding: 3px;
  height: 100%;
}
.diagnosis_recommend_analystic_summary_solution_item > div:nth-child(1) {
  border: 3px solid green;
  padding: 3px;
  /* overflow-y: auto; */
}
.diagnosis_recommend_analystic_summary_solution_item > div:nth-child(2) {
  border: 3px solid green;
  padding: 3px;
  /* overflow-y: auto; */
}
.diagnosis_recommend_analystic_summary_solution_item > div:nth-child(3) {
  border: 3px solid green;
  padding: 3px;
  /* overflow-y: auto; */
}





/*  */





.diagnosis_recommend_detect_wrap {
  border: 3px solid green;
  padding: 3px;
  display: flex; 
}

.diagnosis_recommend_detect_item {
  border: 3px solid green;
  padding: 3px;
  /* display: flex; */
  /* flex-direction: column;   */
  margin:0 auto;
}
.diagnosis_recommend_detect_item_1 {
  border: 3px solid green;
  padding: 3px;
}
.diagnosis_recommend_detect_item_2 {
  border: 3px solid green;
  padding: 3px;
}
.diagnosis_recommend_detect_item_title {
  border: 3px solid green;
  padding: 3px;
}
.diagnosis_recommend_detect_item_content {
  border: 3px solid green;
  padding: 3px;
  /* display: flex; */
  /* flex-direction:row; */

}

.diagnosis_recommend_predict_image {
  border: 3px solid green;
  padding: 3px;
  max-height:200px;
  width:130px;
  /* max-width:130px;
  min-width:130px; */
  /* height:200px; */
}
.diagnosis_recommend_predict_image > img {
  border: 3px solid green;
  padding: 3px;
  height:100%;
  width:100%;
}

.diagnosis_recommend_detect_content {
  border: 3px solid green;
  padding: 3px;
  /* flex-grow:1; */

}

.diagnosis_recommend_detect_content > h3 {
  border: 3px solid green;
  padding: 3px;
}

.diagnosis_recommend_predict_item {
  border: 3px solid green;
  padding: 3px;

}
.diagnosis_recommend_predict_item > div:nth-child(1) {
  border: 3px solid green;
  padding: 3px;
}
.diagnosis_recommend_predict_item > div:nth-child(2) {
  border: 3px solid green;
  padding: 3px;
}



/* tf  */

.diagnosis_recommend_tf_analystic_wrap {
  border: 3px solid green;
  padding: 3px;
}

.diagnosis_recommend_partial_predict {
  border: 3px solid green;
  padding: 3px;
}

.diagnosis_recommend_partial_predict_plant {
  border: 3px solid green;
  padding: 3px;
}

.diagnosis_recommend_partial_predict_disease {
  border: 3px solid green;
  padding: 3px;
}

.diagnosis_recommend_partial_prob {
  border: 3px solid green;
  padding: 3px;
}


/*  */

.diagnosis_recommend_predict_disease_list_wrap {
  border: 3px solid green;
  padding: 3px;
}

.diagnosis_recommend_predict_disease_list_wrap > h3 {
  border: 3px solid green;
  padding: 3px;
}



/*  */
.diagnosis_recommend_predict_disease_list_box {
  border: 31px solid green;
  padding: 3px;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
}

.diagnosis_recommend_predict_disease_item {
  border: 3px solid green;
  padding: 3px;
  flex: 1 0 50%;
}

.diagnosis_recommend_predict_disease_item_summary {
  border: 3px solid green;
  padding: 3px;
}

.diagnosis_recommend_predict_disease_item_summary_item{
  border: 3px solid green;
  padding: 3px;
}

.diagnosis_recommend_solution_word {
  border: 3px solid green;
  padding: 3px;
}


/*  */
.diagnosis_recommend_predict_disease_item_content_wrap {
  border: 3px solid green;
  padding: 3px;
  /* display: flex; */
  flex-direction: column;
  flex: 1 0 100%;
}

.diagnosis_recommend_symptom {
  border: 3px solid green;
  padding: 3px;
  overflow-y: auto;

  flex: 1;
}

.diagnosis_recommend_occurence_environment {
  border: 3px solid green;
  padding: 3px;
  overflow-y: auto;

  flex: 1;
}

.diagnosis_recommend_guide {
  border: 3px solid green;
  padding: 3px;
  overflow-y: auto;

  flex: 1;
}





/*  */
.diagnosis_recommend_none {
  border: 3px solid green;
  padding:3px;
  background-color: #e0e0e0;  
  margin:0 auto;  
  max-width: 1280px;
}

.diagnosis_recommend_none_info {
  border: 3px solid green;
  padding:3px;
  /* display:flex; */
  /* flex-direction: column;   */
  margin : 0 auto;  
}

.diagnosis_recommend_none_info_img_div {
  border: 3px solid green;
  padding:3px;
  /* display:flex; */
  /* flex-direction: column;   */
  margin : 0 auto;  
}

.diagnosis_recommend_none_info_img {
  border: 3px solid green;
  padding:3px;
  /* display:flex; */
  /* flex-direction: column;   */
  margin : 0 auto;  
}





/* 버튼 */

.diagnosis_button {
  margin-top: 10px;
  padding: 1px;
  background-color: #bb4ba1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;  
  margin:0 auto;
}
.diagnosis_button:hover {
  background-color: #c971af;
}

.diagnosis_button_1 {
  margin-top: 10px;
  padding: 1px;
  background-color: #3d85e3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;  
  margin:0 auto;
}
.diagnosis_button_1:hover {
  background-color: #61d0db;
}