/* Button base styles */
.index_body_wrap{
    width: 1100px;
    margin: 0 auto;
    position: relative;

}

.btn_index_ind {
    display: inline-block; /* Adjust as necessary for your layout */
    text-align: center;
    text-decoration: none;
    color: black; /* Adjust the color as needed */
    font-size: 16px; /* Adjust the font size as needed */
    line-height: 178px; /* This helps center the text vertically */
    margin: 5px; /* Adjust spacing between buttons */
}

/* Specific rectangle styles applied to buttons */
.Rectangle6 {
    width: 191px;
    height: 178px;
    background: #88AB8E;
    position: absolute;
    left: 150px;
    top: 100px;
    border-radius: 10px;
}

.Rectangle7 {
    width: 192px;
    height: 178px;
    background: #88AB8E;
    position: absolute;
    left: 368px;
    top: 100px;
    border-radius: 10px;
}

.Rectangle8 {
    width: 191px;
    height: 178px;
    background: #88AB8E;
    position: absolute;
    left: 150px;
    top: 304px;
    border-radius: 10px;
}

.Rectangle9 {
    width: 192px;
    height: 178px;
    background: #88AB8E;
    position: absolute;
    left: 368px;
    top: 304px;
    border-radius: 10px;
}

.Rectangle10 {
    width: 276px;
    height: 153px;
    background: #88AB8E;
    position: absolute;
    left: 635px;
    top: 100px;
    border-radius: 10px;
}

.Rectangle11 {
    width: 276px;
    height: 153px;
    background: #88AB8E;
    position: absolute;
    left: 635px;
    top: 278px;
    border-radius: 10px;
}

.Rectangle12 {
    width: 241px;
    height: 293px;
    background: #88AB8E;
    position: absolute;
    left: 100px;
    top: 524px;
    border-radius: 10px;
}

.Rectangle13 {
    width: 241px;
    height: 293px;
    background: #88AB8E;
    position: absolute;
    left: 368px;
    top: 524px;
    border-radius: 10px;
}

.Rectangle14 {
    width: 241px;
    height: 293px;
    background: #88AB8E;
    position: absolute;
    left: 670px;
    top: 524px;
    border-radius: 10px;
}

.Rectangle6:hover {
    background: #F2F1EB;
}

.Rectangle7:hover {
    background: #F2F1EB;
}

.Rectangle8:hover {
    background: #F2F1EB;
}

.Rectangle9:hover {
    background: #F2F1EB;
}

.Rectangle10:hover {
    background: #F2F1EB;
}

.Rectangle11:hover {
    background: #F2F1EB;
}

.Rectangle12:hover {
    background: #F2F1EB;
}

.Rectangle13:hover {
    background: #F2F1EB;
}

.Rectangle14:hover {
    background: #F2F1EB;
}
