

.index_body_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;    
}

.diagnosisUpload {
  margin-top: 5px;
  margin-bottom: 5px;
}

.index_main_ind {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  width: 100%;
  max-width: 600px;
}

.index_main_ind .btn_index_ind:nth-last-child(-n+3) {
  grid-column: span 2;
}

.btn_index_ind {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #F2F1EB;
  background-color: #88AB8E;
  border-radius: 5px;
  padding: 20px; /* Increased padding for greater height */
}

.btn_index_ind i {
  margin-right: 8px;
  font-size: 72px;
}

.btn_index_ind:hover {
  background-color: #F2F1EB;
  color: #88AB8E;
}

.btn_index_ind a {
  color: #F2F1EB;
}

.btn_index_ind a:hover {
  color: #88AB8E;
}