article#community {
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 0;
}

div.community_main_box {
    margin: 0 auto;
    width: 70%;
    border: solid 1px black;
}

div.community_main_top_box {
    margin: 0 auto;
    background: yellow;
}

div.community_main_center_box {
    margin: 0 auto;
    height: 65vh;
    overflow-y: scroll;
    border: solid 1px black;
}

div.community_main_bottom_box {
    margin: 0 auto;
    background: yellow;
}

aside#community_left_menu, aside#community_right_menu {
    position: absolute;
    top: 0;
    background: #2de0b6;
    width: 15%;
}

aside#community_left_menu {
    left: 0;
}

aside#community_right_menu {
    right: 0;
}

div.community_left_box, div.community_right_box {
    background: #88AB8E;
    margin: 5% auto;
    width: 90%;
    height: 100px;
    /* 이미지로 대체될 예정 */
    text-align: center;
    line-height: 100px;
}


/****** 게시물 박스 관련 양식 ******/
div.community_content_box {
    padding: 1% 0;
    margin: 1% auto;
    width: 95%;
    background: #2de0b6;
}

div.content_box_top, div.content_box_main, div.content_box_bottom {
    margin: 0 auto;
    width: 96%;
}

div.content_box_top {
    border: solid 1px black;
    position: relative;
    height: 50px;
    line-height: 50px;
}

div.content_box_user {
    position: absolute;
    background: #88AB8E;
    left: 0;
    width: 25%
}

div.content_box_type {
    position: absolute;
    background: #88AB8E;
    right: 0;
    width: 15%
}

div.content_box_main {
    margin-top: 1%;
    margin-bottom: 1%;
    border: solid 1px black;
}

div.content_box_title {
    padding: 1%;
    background: #88AB8E;
}

div.content_box_content {
    margin: 1% auto;
    width: 96%;
    min-height: 140px;
    padding: 1%;
    /*
    메인 컨텐츠 박스의 높이는 안에 들어가는 컨텐츠의 양에 따라 달라진다
    최소 크기를 140px로 지정해두었다
    */
    background: #88AB8E;
}

div.content_box_bottom {
    border: solid 1px black;
    height: 40px;
}

ul.content_box_list {
    text-align: center;
    margin: 0;
    padding: 0;
}

ul.content_box_list li {
    display: inline-block;
    background-color: #88AB8E;
    height: 40px;
    line-height: 40px;
    width: 24%;
}


/****** 게시물 상세정보 관련 양식 ******/
div.community_detail_box {
    padding: 1% 0;
    margin: 1% auto;
    width: 95%;
    background: #2de0b6;
}

div.detail_content_box_top, div.detail_content_box_main, div.detail_content_box_bottom {
    margin: 0 auto;
    width: 96%;
}

div.detail_content_box_top {
    border: solid 1px black;
    position: relative;
    height: 50px;
    line-height: 50px;
}

div.detail_content_box_user {
    position: absolute;
    background: #88AB8E;
    left: 0;
    width: 25%
}

div.detail_content_box_type {
    position: absolute;
    background: #88AB8E;
    right: 0;
    width: 15%
}

div.detail_content_box_main {
    margin-top: 1%;
    margin-bottom: 1%;
    border: solid 1px black;
}

div.detail_content_box_title {
    padding: 1%;
    background: #88AB8E;
}

div.detail_content_box_content {
    margin: 1% auto;
    width: 96%;
    min-height: 250px;
    padding: 1%;
    /*
    메인 컨텐츠 박스의 높이는 안에 들어가는 컨텐츠의 양에 따라 달라진다
    최소 크기를 250px로 지정해두었다
    */
    background: #88AB8E;
}

/****** 게시물 댓글 관련 양식 ******/
div.community_detail_comment_boxes {
    position: relative;
}

div.community_detail_comment_box {
    border: solid 1px black;
    min-height: 40px;
}

div.community_detail_comment_box_user {
    margin-top: 9px;
    text-align: left;
    display: inline-block;
    border: solid 1px black;
    width: 21%;
}

div.community_detail_comment_box_content {
    line-height: 100%;
    text-align: left;
    display: inline-block;
    border: solid 1px black;
    right: 0;
    width: 79%;
}

/****** 게시물 작성 관련 양식 ******/
div.community_form_box {
    padding: 1% 0;
    margin: 1% auto;
    width: 68%;
    background: #2de0b6;
}