
/*  전체 폰트 적용 */
* {
    font-family: 'neodgm';
    /* src: url('../fonts/neodgm.woff'); */
  }


/* 리액트 css */



/* 태그 전역 설정 */
a {
    text-decoration: none;
}


/*  */
/* Header Footer 시작 */
/*  */

@media screen and (min-width: 999px) {

    /* PC */

}

@media screen and (max-width: 999px) {
    
    /* 모바일 */

/* navbar */
.navbar_hd {
    background-color: #F2F1EB; 
    font-family: Arial, sans-serif;    
}

.navbar_hd ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    flex-wrap:wrap;
}

.nav-item_hd {
    position: relative;
    text-align: center; 
    /* min-width: 150px;     */
    flex: 1 0 15%;
}

.nav-link_hd {
    text-decoration: none;
    color:#88AB8E;
    padding: 10px;
    display: block;
}

.nav-link_hd:hover,
.btn_hd:hover {
    color: #F2F1EB; 
    background-color: #88AB8E; 
}

.dropdown-menu_hd {
    display: none;
    position: absolute;
    background-color: #F2F1EB;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 100%;
}

.nav-item_hd:hover .dropdown-menu_hd {
    display: block;
}

.btn_hd {
    text-decoration: none;
    color: #5a755d;
    padding: 10px;
    display: block;
    white-space: nowrap;
}
/* end_navbar */





}



header {
    display: flex;
    flex-direction: column; /* headerMenu와 navbar를 세로로 배치 */
    align-items: center;
    padding: 20px;
    background-color: #88AB8E;
    color: #F2F1EB;    
}

.headerMenu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.headerMenu a.highlight {
    margin-left: 10px;

}

#portal_select {
    background-color: #F2F1EB; /* 헤더 색상과 조화를 이루는 배경색 */
    color: #88AB8E; /* 텍스트 색상 */
    border: none;

    padding: 8px 12px; /* 패딩 조정 */
    border-radius: 5px; /* 모서리 둥글게 */
    margin-right: 5px;
    cursor: pointer;
    font-size: 16px; /* 텍스트 크기 조정 */
}

/* 드롭다운 옵션 스타일링 */
#portal_select option {
    background-color: #F2F1EB; /* 옵션의 배경색 */
    color: #88AB8E; /* 옵션의 텍스트 색상 */
}

#search_keyword {
    padding: 8px 12px; /* 검색창 패딩 조정 */
    margin-left: 10px; /* 왼쪽 마진 조정 */
    width: 200px; /* 검색창 너비 조정 */
    border-radius: 5px; /* 모서리 둥글게 */
}

.portal_search {
    display: flex;
    align-items: center;

    font-size: 16px; /* 기본 글꼴 크기 설정 */
}

.portal_search button {
    background-color: #F2F1EB; /* 버튼 배경색 */
    border: none;

    padding: 8px 16px; /* 버튼 패딩 조정 */
    margin-left: 5px;
    color: #88AB8E;
    cursor: pointer;
    border-radius: 5px; /* 모서리 둥글게 */
    font-size: 16px; /* 텍스트 크기 조정 */
}



.loginBox_hd {

    display: flex;
    align-items: center;
}

.loginBox_hd a {
    color: #EEE7DA; 
    text-decoration: none;
    margin: 0 5px;
}


#logo {
    height: 2em;
}

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
.navbar_hd {    
    background-color: #F2F1EB; 
    font-family: Arial, sans-serif;     
}

.navbar_hd ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;    
}

.nav-item_hd {    
    position: relative;
    text-align: center; 
    width:150px;
    /* min-width: 150px;    주석처리 -kdy */
    flex: 1 0 10%;     
}

.nav-link_hd {
    text-decoration: none;
    color:#88AB8E;
    padding: 10px;
    display: block;
}

.nav-link_hd:hover,
.btn_hd:hover {
    color: #F2F1EB; 
    background-color: #88AB8E; 
}

.dropdown-menu_hd {
    display: none;
    position: absolute;
    background-color: #F2F1EB;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 100%;
}

.nav-item_hd:hover .dropdown-menu_hd {
    display: block;
}

.btn_hd {
    text-decoration: none;
    color: #5a755d;
    padding: 10px;
    display: block;
    white-space: nowrap;
}
/* end_navbar */
