
{% load static %}
{% block content %}

<div class="diagnosis_chart_main diagnosis_main">
    <section class="diagnosis_image_section">
        <article class="diagnosis_image_article">  
            <div class="diagnosis_image_img">
                <img src="{% static '/image/logo/farm_quest_site.png' %}" alt="업로드 이미지">                
            </div>
            <div class="diagnosis_image_text">
                <p>업로드 이미지</p>
            </div>
        </article>
    </section>
</div>
  
{% endblock content %}