

header {
    display: flex;
    flex-direction: column; /* headerMenu와 navbar를 세로로 배치 */
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.headerMenu {
    display: flex;
    align-items: center;
}

.headerMenu a.highlight {
    margin-left: 10px;
    color: #ffcc00;
}

nav ul {
    display: flex;
    list-style-type: none;
    /* 네비게이션 바 중앙정렬을 위해 margin:0 auto; 로 수정 -kdy */
    /* margin: 0;  */
    margin: 0 auto;
    padding: 0;
}

nav li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.navbar {
    width: 100%;
    background-color: #333;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: #ddd;
}

#logo {
    height: 2em;
}


main {
    padding: 50px 20px;
}

.container {
    /* 주석처리 - kdy */
    /* max-width: 600px; */
    margin: auto;
    padding: 10px;
    border: 2px solid black;
  }
  
.row {
    display: flex;
}



.btn {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #45a049;
}



.box {
    border: 2px solid black;
    margin: 5px;
    flex-grow: 1;
    text-align: center;
    padding: 20px;
}

.box.large {
    flex: 2;
}

.box-3 {
    flex-grow: 2;
}

.box-6, .box-9 {
    flex-basis: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}



footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
}

footer ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}