

header {
    display: flex;
    flex-direction: column; /* headerMenu와 navbar를 세로로 배치 */
    align-items: center;
    padding: 20px;
    background-color: #408055;
    color: white;
}

.headerMenu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.headerMenu a.highlight {
    margin-left: 10px;
    color: #ffcc00;
}

.portal_search {
    display: flex;
    align-items: center;
}

.portal_search button {
    background-color: #4a8060; /* 버튼 배경색 */
    border: none;
    padding: 6px 12px;
    margin-left: 5px;
    color: white;
    cursor: pointer;
}

#search_keyword {
    margin-left: 10px;
    padding: 5px;
    background-color: #5a9970; /* 헤더 색상과 조화를 이루는 배경색 */
    border: none;
    color: white;
}

.loginBox_hd {

    display: flex;
    align-items: center;
}

.loginBox_hd a {
    color: #c0d8c0; /* 연한 녹색으로 링크 표시 */
    text-decoration: none;
    margin: 0 5px;
}


#logo {
    height: 2em;
}

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
.navbar_hd {
    background-color: #f2f5f3; 
    font-family: Arial, sans-serif;
}

.navbar_hd ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.nav-item_hd {
    position: relative;
    text-align: center; 
    min-width: 150px;
}

.nav-link_hd {
    text-decoration: none;
    color: #27633b;
    padding: 10px;
    display: block;
}

.nav-link_hd:hover,
.btn_hd:hover {
    color: #f8f9fa; 
    background-color: #408055; 
}

.dropdown-menu_hd {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 100%;
}

.nav-item_hd:hover .dropdown-menu_hd {
    display: block;
}

.btn_hd {
    text-decoration: none;
    color: #5a755d;
    padding: 10px;
    display: block;
    white-space: nowrap;
}
/* end_navbar */




main {
    padding: 50px 20px;
}

.container {
    /* 주석처리 - kdy */
    /* max-width: 600px; */
    margin: auto;
    padding: 10px;
    border: 2px solid black;
  }
  
.row {
    display: flex;
}



.btn {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #45a049;
}



.box {
    border: 2px solid black;
    margin: 5px;
    flex-grow: 1;
    text-align: center;
    padding: 20px;
}

.box.large {
    flex: 2;
}

.box-3 {
    flex-grow: 2;
}

.box-6, .box-9 {
    flex-basis: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}



footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
}

footer ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}