{% extends 'base.html' %}
{% load static %}


{% block content %}

<style>
    {% comment %} .diagnosis_main {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        text-align: center;
    }

    .diagnosis_choice_box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        text-align: center;
    }

    .diagnosis_answer_box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        text-align: center;
    }
    
    .diagnosis_image_box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        text-align: center;
    }    

    .diagnosis_choice_result_box {
        display: flex;
        text-align: center;                   
        justify-content: center;
    }

    .diagnosis_ad_box {
        width:100vh;
        display: flex;
        text-align: center;                   
        justify-content: center;
    } {% endcomment %}

    .diagnosis_wrap {
 
        display: grid;
        grid:
          "diagnosis_ad_box diagnosis_index_box" 1fr
          / auto 1fr;
        gap: 8px;
        
        border: 1px solid black;
    }

      .diagnosis_ad_box { grid-area: diagnosis_ad_box; border: 1px solid black;}
      .diagnosis_index_box { grid-area: diagnosis_index_box; border: 1px solid black;}    

</style>

<div class"diagnosis_wrap">
    <div class="diagnosis_ad_box">광고</div>
    <div class="diagnosis_index_box">
        <div class="diagnosis_choice_box">{% include "./diagnosis_choice.html" %}</div>
        <div class="diagnosis_choice_result_box">
            <div class="diagnosis_answer_box">{% include "./diagnosis_answer.html" %}</div>
            <div class="diagnosis_image_box">{% include "./diagnosis_image.html" %}</div>
        <div>
    </div>
    
</div>

<script>
</script>

{% endblock content %}