{% load static %}
{% block content %}
<main class="diagnosis_choice_main diagnosis_main">
    <section class="diagnosis_choice_section">        
        <article class="diagnosis_choice_article">
            <div class="diagnosis_choice_wrap">
                <form id="diagnosis_choice_form">
                    <h2>종 선택</h2>
                    <label>
                        <input type="radio" name="choice_plant" value="포도"> 포도
                    </label>
                    <label>
                        <input type="radio" name="choice_plant" value="토마토"> 토마토
                    </label>
                    <label>
                        <input type="radio" name="choice_plant" value="딸기"> 딸기
                    </label>
                    <label>
                        <input type="radio" name="choice_plant" value="배추"> 배추
                    </label>
                    <label>
                        <input type="radio" name="choice_plant" value="오이"> 오이
                    </label>
                    <label>
                        <input type="radio" name="choice_plant" value="파프리카"> 파프리카
                    </label>
                
                    <button type="button" onclick="choice_submit_form()">선택완료</button>
                </form>
            </div>                        
        </article>        
    </section>
</main>

<script>
    function choice_submit_form() {
        let form = document.getElementById('diagnosis_choice_form');
        let selectedOption = getSelectedOption(form);

        if (selectedOption) {
            alert('선택 작물 : ' + selectedOption);
        } else {
            alert('진단할 작물을 선택하세요');
        }
    }

    function getSelectedOption(form) {
        let choice_plant = form.elements['choice_plant'];

        for (let i = 0; i < choice_plant.length; i++) {
            if (choice_plant[i].checked) {
                return choice_plant[i].value;
            }
        }

        return null;
    }
</script>

{% endblock content %}
