.product-top2{
    margin-bottom: 20px;
}

.gardening-shop-detail {
    max-width: 800px;
    margin: 50px auto 100px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    
}

.product-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
}

.product-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.product-price {
    color: #888;
    font-size: 18px;
    margin: 0 auto 20px;
}

.add-to-cart {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #88AB8E;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.reviews-section {
    margin-top: 30px;
}

.review-rating {
    margin: 10px auto;
    color: #FFD700; /* Gold color for stars */
    font-size: 18px;
    margin-top: 5px;
}

.review-rating .star {
    color: #FFD700; /* Gold color */
    margin-right: 2px;
}

.review-rating .star:hover {
    cursor: pointer;
    color: #FFA500; /* Orange color */
}

.reviews-title {
    color: #333;
    font-size: 20px;
    margin-bottom: 15px;
}

.review-item {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 0 auto 10px;
    border-radius: 5px;
}

.review-number {
    margin: 0 auto;
    font-weight: bold;
}

.review-content {
    margin: 0 auto;
    margin-top: 5px;
}