<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Web</title>

    <link rel="stylesheet" href="../../../static/css/style_ltj.css">
    <link rel="stylesheet" href="../../../static/css/scheduler.css">
    
</head>

<body>
    <header>
        <div class="headerMenu">
            <a href="/"><img src="../../../static/image/logo/farm_quest_site.svg" alt="Logo" id="logo"></a>
            <form action="/search" method="get">
                <input type="text" name="query" placeholder="Search...">
                <button type="submit">Search</button>
            </form>
            <a href="/sign_in" class="highlight">로그인</a>
            <a href="/sign_up2" class="highlight">회원가입</a>
        </div>
        <div class="navbar">
            <ul>
                <li><a href="/diagnosis_temp">진단2</a></li>
                <li><a href="/diagnosis_temp">진단</a></li>
                <li><a href="/customer_service_center">고객센터</a></li>
                <li><a href="/mypage">마이페이지(임시통로)</a></li>
            </ul>
        </div>
    </header>

<!-- 메인 -->
    <main class="container index_main">

        <section class="scd_btn_section">
                <a class="scheduler_btn" href="{% url 'scheduler_general' %}">
                    <div class="scheduler_btn">gen_btn</div>
                </a>
                <a class="scheduler_btn" href="{% url 'scheduler_personal' %}">
                    <div class="scheduler_btn">per_btn</div>
                </a>
        </section>
        <br>
        <section class="scd_content_section">
            <div id="scheduler_filter">filter
                <p>
                    <ul id="schedule_filter">
                        <li><input type="checkbox" id="ck1" name="ck1" value="1" >
                            <label for="ck1">24절기</label></li>
                        <li><input type="checkbox" id="ck2" name="ck2" value="1" >
                            <label for="ck2">비오는날</label></li>
                        <li><input type="checkbox" id="ck3" name="ck3" value="1" >
                            <label for="ck3">눈오는날</label></li>
                        <li><input type="checkbox" id="ck4" name="ck4" value="1" >
                            <label for="ck4">심기</label></li>
                    </ul>
                </p>
            </div>
            <div id="scheduler_content">scheduler</div>
        </section>
    </main>




<footer>
    <ul>
        <li><a href="#">이용약관</a></li>
        <li><a href="#">개인정보처리방침</a></li>
        <li><a href="#">청소년보호정책</a></li>
    </ul>
</footer>
</body>

</html>
