body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column; /* headerMenu와 navbar를 세로로 배치 */
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.headerMenu {
    display: flex;
    align-items: center;
}

.headerMenu a.highlight {
    margin-left: 10px;
    color: #ffcc00;
}



.navbar {
    width: 100%;
    background-color: #333;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: #ddd;
}

#logo {
    height: 60px;
}


main {
    padding: 50px 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 10px;
    border: 2px solid black;
  }
  
.row {
    display: flex;
}

.box {
    border: 2px solid black;
    margin: 5px;
    flex-grow: 1;
    text-align: center;
    padding: 20px;
}

.box.large {
    flex: 2;
}

.box-3 {
    flex-grow: 2;
}

.box-6, .box-9 {
    flex-basis: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
footer {

    left: 0;


    background-color: #333;
    color: white;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px;
}

footer ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}
