
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Web</title>

    <link rel="stylesheet" href="../../../static/css/style_ltj.css">    
    <link rel="stylesheet" href="../../../static/css/mypage.css">
    <link rel="stylesheet" href="../../../static/css/common.css">
    
</head>

<body>
    <header>
        <div class="headerMenu">
            <a href="/"><img src="../../../static/image/logo/farm_quest_site.svg" alt="Logo" id="logo"></a>
            <form action="/search" method="get">
                <input type="text" name="query" placeholder="Search...">
                <button type="submit">Search</button>
            </form>
            <a href="/sign_in" class="highlight">로그인</a>
            <a href="/sign_up2" class="highlight">회원가입</a>
        </div>
        <div class="navbar">
            <ul>
                <li><a href="/diagnosis_temp">진단2</a></li>
                <li><a href="/diagnosis_index">진단</a></li>
                <li><a href="/customer_service_center">고객센터</a></li>
                <li><a href="./">마이페이지(임시통로)</a></li>
            </ul>
        </div>
    </header>

    <main class="mypage_main">

        <section class="mp_sidemenu_section">
            <div id="mypage_sidebar">
                <li id='mypage_title'>마이페이지</li>
                <ul>
                    <li><a class="menu-link sidemenus" href="/user_plant"
                        id='user_plant'>나의 작물</a></li>
                    <li><a class="menu-link sidemenus" href="/user_farmlog"
                        id='user_farmlog'>나의 팜로그</a></li>
                    <li><a class="menu-link sidemenus" href="/user_QnA"
                        id='user_QnA'>나의 QnA</a></li>
                    <li><a class="menu-link sidemenus" href="/user_bookmark"
                        id='user_bookmark'>즐겨찾기</a></li>
                </ul>
            </div>
        </section>
        <br>
        <section class="mp_contents_section">
            <div id="mypage_contents">
                <div id='my_plants'>my plants
                    <div class="my_plant_info">plant 1</div>
                    <div class="my_plant_info">plant 2</div>
                    <div class="my_plant_info">plant 3</div>
                    <div class="my_plant_info">plant 4</div>                
                    <div class="my_plant_info">plant 5</div>
                </div>
                <div id="plant_plus">
                    <div id="plants_btn">plusbtn</div>
                </div>
            </div>
        </section>

    </main>
<footer>
    <ul>
        <li><a href="#">이용약관</a></li>
        <li><a href="#">개인정보처리방침</a></li>
        <li><a href="#">청소년보호정책</a></li>
    </ul>
</footer>
</body>

</html>
