{% load static %}   

{% block content %}   

<span class='mypage_title'>내가 찜한 캠핑장</span><br><br>
<div>
    {% if favorites %}
        <table class='mypage_table'  id="favorite_list">
            <tr>
                <th>찜한 순서</th>
                <th>캠핑장</th>
                <th>전화번호</th>
                <th>찜 취소</th>
            </tr>
            {% for favorite in favorites %}
            <tr>
                <td>
                    {{ forloop.counter }}</td>
                <td>{{ favorite.camp_no.camp_name }}
                    {% comment %} <a href="{% url 'camping_detail' favorite.camp_no.camp_name %}"></a></td> {% endcomment %}
                <td>
                    {{ favorite.camp_no.camp_call }}</td>
                <td>
                    <a href="{% url 'user_favorite_delete' favorite.fav_id %}" 
                    onclick="if (confirm('삭제하시겠습니까?')) { showCancellationMessage(); return true; } else { return false; }">
                    <button class='btn btn-cancel'>취소</button></a></td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>찜한 캠핑장이 없습니다.</p>
    {% endif %}
</div>

{% endblock content %}


