<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Web</title>
    <link rel="stylesheet" href="./static/css/style.css">
</head>

<body>
    <header>
        <div class="headerMenu">
            <img src="logo.png" alt="Logo" id="logo">
            <form action="/search" method="get">
                <input type="text" name="query" placeholder="Search...">
                <button type="submit">Search</button>
            </form>
            <a href="login.html" class="highlight">로그인</a>
            <a href="register.html" class="highlight">회원가입</a>
        </div>
        <div class="navbar">
            <ul>
                <li><a href="#">메뉴1</a></li>
                <li><a href="#">메뉴2</a></li>
                <li><a href="#">메뉴3</a></li>
                <li><a href="/user_mypage">마이페이지(임시통로)</a></li>
            </ul>
        </div>
    </header>

    <main>
        <div id="sidebar">
            <li id='mypage_title'>마이페이지</li>
            <ul>
                <li><a class="menu-link sidemenus" href="/scheduler_general" data-page="1"
                    id='user_plant'>나의 작물</a></li>
                <li><a class="menu-link sidemenus" href="/scheduler_general" data-page="2"
                    id='user_farmlog'>나의 팜로그</a></li>
                <li><a class="menu-link sidemenus" href="/scheduler_general" data-page="3"
                    id='user_QnA'>나의 QnA</a></li>
                <li><a class="menu-link sidemenus" href="/scheduler_general" data-page="4"
                    id='user_bookmark'>즐겨찾기</a></li>
            </ul>
    </div>
    <div id="mycontent">
            <div>
                <span class='mypage_title'>등록내역</span><br><br>
                {% if reg_requests %}
                    <table class='mypage_table' id="reg_request_list">
                        <tr>
                            <th>등록번호</th>
                            <th>캠핑장 이름</th>
                            <th>주소</th>
                            <th>전화번호</th>
                            <th>승인여부</th>
                            <th>등록신청 취소</th>
                        </tr>
                        {% for reg_request in reg_requests %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ reg_request.camp_name }}</td>
                                <td>{{ reg_request.camp_address }}</td>
                                <td>{{ reg_request.camp_call }}</td>
                                <td>
                                    {% if reg_request.approve is not null %}
                                        {{ reg_request.approve }}
                                    {% else %}
                                        검토대기
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'camp_register_delete' reg_request.camp_no %}" 
                                    onclick="if (confirm('신청을 취소하시겠습니까?')) { showCancellationMessage(); return true; } else { return false; }">
                                    <button class='btn btn-cancel'>취소</button></a></td>
                            </tr>
                        {% endfor %}
                        </table>
                {% else %}
                    <p>등록 내역이 없습니다.</p>
                {% endif %}
        </li>
        <br>
    </div>
    
</div>

</main>
<footer>
    <ul>
        <li><a href="#">이용약관</a></li>
        <li><a href="#">개인정보처리방침</a></li>
        <li><a href="#">청소년보호정책</a></li>
    </ul>
</footer>
</body>

</html>
